@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #cf081b;
  --primary-color-light: #ffced2;
  --secondary-color: #08cf8f;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] font-semibold rounded-full uppercase text-xs tracking-widest text-gray-400 transition-all hover:border-[#cf081b] hover:text-[#cf081b] hover:tracking-[3px];
  }

  .brand-title {
    @apply uppercase tracking-[20px] text-gray-500 text-2xl;
  }
}
