@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: #cf081b;
  --primary-color-light: #ffced2;
  --secondary-color: #08cf8f;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .carouselButton {
    @apply inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-[#909090] group-hover:bg-primary-color group-hover:ring-white group-focus:ring-2 group-focus:ring-white group-focus:bg-primary-color-light group-focus:outline-none;
  }

  .customScrollbar {
    @apply scrollbar-track-[#252525] scrollbar-thumb-primary-color scrollbar-thumb-rounded-full scrollbar-thin;
  }

  .primaryButton {
    @apply bg-primary-color py-3 px-5 rounded-md font-bold text-lg;
  }

  .heroButton {
    @apply px-6 py-2 border-2 border-[#303030] font-semibold rounded-full uppercase text-xs tracking-widest text-gray-400 transition-all hover:border-primary-color hover:text-primary-color hover:tracking-[3px];
  }

  .heroButtonInversed {
    @apply px-6 py-2 border-2 border-primary-color font-semibold rounded-full uppercase text-xs tracking-widest transition-all hover:bg-primary-color hover:scale-110;
  }

  .brand-title {
    @apply uppercase tracking-[20px] text-gray-500 text-2xl;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#252525] placeholder-gray-500 transition-all focus:border-red-600 focus:text-red-600 hover:border-red-600;
  }
}
